#header {
    .fixed {
        width: 33vw;
        height: 100%;
        position: fixed;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("../assets/background-img3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        >img {
            width: 180px;
        }
    }
    @media (max-width: 768px) {
        .fixed {
            position: relative;
            width: 100%;
            height: 50vh;
            background-size: 100% 500px;
        }
    }
}

#gradient {
    background: linear-gradient(to right, #33d9ff 0%, #9b33ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#email {
    color: white;
    text-decoration: none;
}

#email:hover {
    color: #33d9ff;
}