h1 {
  color: white;
  padding: 20px;
}

.coin__row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #dc453d;
}

.coin__image > img {
  width: 50px;
}

.coin__image > h1 {
  font-size: 24px;
  color: white;
}

.coin__data {
  margin-left: 50px;
  text-align: left;
  width: 300px;
}

.coin__image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.coin__symbol {
  color: #a1321e;
  font-weight: 500;
}

.coin__data > p {
  color: #a1321e;
  font-weight: 400;
  padding: 2px;
}

center {
  font-weight: 500;
}
