* {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #535353;
}

/* Header */
.nav-content,
.footer {
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
}

ul a li {
  display: inline;
  margin-right: 18px;
  cursor: pointer;
}

.nav {
  display: flex;
}

.nav-content-left {
  margin-right: 2150px;
}

/* Main content */
.main-content {
  height: 80vh;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.main-content-logo,
.main-content-button,
.main-content-tagline {
  margin-bottom: 20px;
}

.main-content-tagline {
  font-weight: 400;
  font-size: 14px;
}

input {
  width: 575px;
  height: 46px;
  border: none;
  border: 1.5px solid #E7E8EB;
  border-radius: 25px;
  outline: none;
  padding-left: 40px;
  position: relative;
}

input:focus {
  box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

.fas.fa-search {
  z-index: 9;
  position: absolute;
  right: 60%;
  top: 24.9%;
  cursor: pointer;
}

.fas.fa-microphone {
  z-index: 9;
  position: absolute;
  right: 39.5%;
  top: 24.9%;
  cursor: pointer;
}

/* Footer */
.footer {
  bottom: 0px;
  height: 90px;
  width: 100%;
  background-color: #4585F3;
  display: flex;
  flex-direction: column;
}

.footer-content-top-text {
  margin-right: 2495px;
}

.footer-content-top,
.footer-content-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #F2F2F2;
  text-transform: capitalize;
  font-size: 15px;
  color: #85757A;
  border: 0.1px solid #DADCE0;
}

.footer-content-left {
  margin-right: 1940px;
}

/* Buttons */
button {
  margin-left: 18px;
  text-transform: capitalize;
  cursor: pointer;
}

.nav-content-button {
  height: 32px;
  width: 70px;
  background-color: #4585F3;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  text-transform: inherit;
}

.main-content-button {
  height: 40px;
  width: 130px;
  border: none;
  border-radius: 2px;
  color: #535353;
  font-weight: 400;
  background-color: #F8F9FA;
  margin-top: 25px;
}

#main-content-tag-fr {
  color: #1A0DBE;
}

#main-content-tag-fr:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fas.fa-layer-group {
  cursor: pointer;
}