.friendsRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.friendsRow:hover {
  background-color: lightgrey;
  border-radius: 10px;
}

.friendsRow > h4 {
  margin-left: 20px;
  font-weight: 600;
  width: 100px;
}
