.friends {
  padding: 25px 10px;
  flex: 0.33;
}

.friends > h3 {
  color: gray;
}

.friends__top {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.friends__right {
  display: flex;
}

.search-icon,
.dot-icon {
  background-color: lightgray;
  padding: 2.5px;
  margin-right: 5px;
  border-radius: 999px;
}
