* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.content {
  position: relative;
  height: 100vh;
  background-color: #FAFAFA;
}

.content-area {
  height: 929px;
  width: 100%;
  position: absolute;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-area {
  position: absolute;
  bottom: 0;
  background-color: lightgreen;
  height: 151px;
  width: 100%;
}

.content-centre {
  position: fixed;
  width: 725px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}

.content-area-left {
  width: 450px;
  margin-right: -15px;
}

.content-area-right {
  height: 500px;
  width: 350px;
  margin-right: 7px;
}

#phone-outline {
  width: auto;
  height: 580px;
}

#screenshot-1,
#screenshot-2,
#screenshot-3,
#screenshot-4,
#screenshot-5 {
  display: none;
  position: absolute;
  right: 378.7px;
  top: 92px;
  height: 404px;
  width: auto;
}

#screenshot-1 {
  display: block;
}

.login {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-top {
  background-color: #fff;
  width: inherit;
  height: 345px;
  border: 1.17px solid #DBDBDB;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 90px;
  width: auto;
  margin-top: -30px;
}

input {
  height: 38px;
  width: 268px;
  border: 1px solid #DBDBDB;
  margin-top: 5px;
  border-radius: 3px;
  padding: 10px;
  font-size: 10px;
  color: #DBDBDB;
  background-color: #FAFAFA;
}

#login {
  height: 30px;
  width: 268px;
  text-align: center;
  background-color: #B2DFFC;
  margin-top: 14px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
}

.or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #8E8E8E;
  margin-top: 14px;
  margin-bottom: 20px;
}

.line {
  width: 107px;
  height: 1px;
  background-color: #DBDBDB;
}

#facebook,
#forgot-pw {
  text-decoration: none;
}

#facebook {
  font-size: 14px;
  color: #4B5F85;
  margin-bottom: 20px;
}

#forgot-pw {
  font-size: 11px;
  color: #00379B;
}

.login-middle,
.login-bottom {
  margin-top: 10px;
  background-color: #fff;
  width: inherit;
  height: 63px;
  border: 1.17px solid #DBDBDB;
  color: #262626;
  font-size: 13.5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-middle a span {
  font-weight: 600;
  color: #00A2F8;
}

.login-bottom.login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-bottom {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;
}

img {
  width: 134px;
  padding: 2px;
  margin-top: 15px;
}