* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  position: relative;
  height: 100vh;
  background-color: #FAFAFA;
}

.content-area {
  height: 929px;
  width: 100%;
  position: absolute;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-area {
  position: absolute;
  bottom: 0;
  background-color: lightgreen;
  height: 151px;
  width: 100%;
}

.content-centre {
  position: fixed;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content-area-left {
  width: 450px;
}

.content-area-right {
  background-color: rgb(68, 68, 161);
  height: 550px;
  width: 100%;
}

#phone-outline {
  width: 454px;
  height: 618px;
}