:root {
  --td-color: #008A00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Navigation */
#header {
  position: fixed;
  height: 106px;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  top: 0px;
  font-size: 12px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .25);
}

.nav-top {
  height: 36px;
  width: 100%;
  background-color: var(--td-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-top ul {
  list-style: none;
  padding-right: 600px;
}

.nav-top ul li {
  display: inline;
  padding-right: 35px;
}

.nav-top ul li:first-child {
  font-weight: 800;
}

.nav-top ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-bottom {
  color: var(--td-color);
  bottom: 0;
  height: 70px;
  width: 100%;
  font-weight: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.nav-bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 26.5%;
}

.nav-bottom ul {
  list-style: none;
}

.nav-bottom ul li {
  display: inline;
  padding-right: 30px;
  font-weight: 700;
}

#td-logo {
  width: 80px;
  padding-top: 4px;
  padding-left: 35px;
}

.fas.fa-chevron-down {
  font-size: 8.5px;
  margin-left: -20px;
  margin-right: 35px;
  margin-top: 2px;
}

.nav-bottom ul li:hover {
  color: #000;
  cursor: pointer;
}

/* Content */
.hero {
  margin-top: 108px;
  height: auto;
  width: 100%;
  background-color: #F9F9F9;
}

.hero-corona {
  height: 85px;
  width: 100%;
  background-color: #FFF8D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-corona-content {
  color: #000;
  font-size: 14px;
  text-align: center;
}

#hero-corona-text {
  color: #1A5336;
  font-weight: 700;
  font-size: 16px;
}

#hero-help-text {
  padding-bottom: 8px;
  font-weight: 300;
}

.fas.fa-exclamation-triangle {
  margin-right: 8px;
  font-size: 20px;
}

#learn-more {
  text-decoration: none;
  color: #038203;
  font-weight: 700;
}

#learn-more:hover,
#register:hover,
#security:hover {
  text-decoration: underline;
}

.hero-main {
  height: 350px;
  width: 100%;
  background: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-size: 75.5%;
  background-position: bottom;
  background-color: #F9F9F9;
  border-bottom: 1.75px solid #CCCCCC;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 75px;
}

.hero-content-left {
  display: flex;
  color: #fff;
  margin-top: 73px;
}

.hero-big-box {
  padding: 20px 15px;
  height: 212px;
  width: 212px;
  background-color: var(--td-color);
  font-size: 34px;
  text-align: left;
  font-weight: 600;
}

#hero-content-text {
  color: #000;
  font-size: 16px;
  width: 210px;
  text-align: left;
  font-weight: 300;
}

#start-today {
  border: 2px solid var(--td-color);
  padding: 10px;
  width: 100px;
  color: var(--td-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-top: 25px;
}

#start-today:hover {
  background-color: #DADADA;
}

.hero-content-min-right {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  margin-top: 35px;
}

#spacer {
  position: absolute;
  overflow: hidden;
  height: 280px;
  width: 1.83px;
  margin-top: 75px;
  margin-left: 600px;
  background-color: #DADADA;
}

.hero-content-right {
  position: absolute;
  color: #fff;
  margin-top: 73px;
  margin-left: 880px;
}

.hero-content-min {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hero-content-min p {
  color: #1A5336;
  font-size: 18px;
  font-weight: 600;
}

.hero-content-min i {
  margin-right: 10px;
}

#login {
  text-align: center;
  padding-top: 6px;
  height: 35px;
  font-size: 16px;
  width: 218px;
  background-color: var(--td-color);
  color: #fff;
  text-decoration: none;
  font-weight: 600;

  margin-top: 15px;
  margin-bottom: 15px;
}

#login:hover {
  background-color: #027a02;
}

.hero-content-min a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #038203;
}

.fas.fa-chevron-right {
  font-size: 10px;
  margin-left: 6px;
}

#spacer-2 {
  background-color: #CCCCCC;
  width: 94%;
  height: 0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Content */
.content {
  height: 570px;
  width: 100%;
  background-color: lightblue;
}

#content-text {
  color: #1A5336;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 25px 0px 0px 0px;
}

#content-text:last-child {
  font-size: 21px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  margin: 0 auto;
  margin-right: 575px;
}

.grid-item {
  border: 1.2px solid #008A00;
  color: #008A00;
  padding: 21px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-bottom: 50px;
}

.grid-item:hover {
  background-color: #008A00;
  color: #fff;
  cursor: pointer;
}

.grid-item a,
.grid-item p {
  position: absolute;
  font-size: 16px;
}

.grid-item p {
  color: #000;
}

.grid-item a {
  margin-left: 60px;
  width: 160px;
  text-align: left;
  font-weight: 600;
  color: var(--td-color);
}

.grid-item p {
  margin-left: 78px;
  margin-top: 45px;
  width: 180px;
  text-align: left;
}

.grid-text {
  margin-top: -55px;
}