* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Header */
.header {
  position: fixed;
  height: 52px;
  display: block;
  width: 100%;
  background: #333;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
  top: 0px;
}

nav ul a li {
  font-weight: 400;
  font-size: 14px;
  display: inline;
  text-decoration: none;
  color: #CCCCCC;
}

nav ul a li:hover {
  color: #fff;
}

.nav-content {
  max-width: 41%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -6px;
  cursor: pointer;
}

.fab.fa-apple {
  font-size: 20px;
}

.fas.fa-search,
.fas.fa-shopping-bag {
  font-size: 16px;
}

/* Grid 1 */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  height: 100vh;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  height: 58.5vh;
  width: 100%;
}

.iphone-12-description,
.iphone-12-pro-description {
  display: absolute;
  margin-left: 44.6%;
}

.iphone-12-description {
  margin-top: 3.5%;
  width: 10%;
}

#iphone-12-text,
#iphone-12-pro-text {
  font-size: 48px;
  font-weight: 600;
}

#iphone-12-pro-text {
  font-weight: 500;
}

#iphone-12-tagline,
#iphone-12-pro-tagline,
#apple-fitness-tagline {
  font-size: 28px;
}

#apple-watch-tagline {
  font-size: 20px;
}

#iphone-12-price,
#iphone-12-pro-price {
  font-size: 16px;
  color: #86868B;
}

#iphone-12-text,
#iphone-12-tagline,
#iphone-12-price,
#iphone-12-pro-text,
#iphone-12-pro-tagline,
#iphone-12-pro-price {
  margin-bottom: 5px;
}

.iphone-12-pro-description {
  margin-top: 2.5%;
  width: 14%;
  color: #fff;
  margin-left: 43%;
}

.apple-fitness-description {
  margin-top: 2.5%;
  margin-right: 0.5%;
}

.iphone-12-description-buttons,
.iphone-12-pro-description-buttons,
.apple-fitness-description-buttons,
.apple-watch-description-buttons {
  display: flex;
  font-size: 20px;
  margin-top: 20px;
  color: #0066CC;
}

.iphone-12-description-buttons {
  margin-right: 4%;
}

.iphone-12-pro-description-buttons {
  width: 80%;
}

.apple-fitness-description-buttons {
  width: 13%;
}

.apple-watch-description-buttons {
  width: 20%;
  color: #2996FD;
  font-size: 16px;
}

#learn:hover,
#buy:hover,
#try:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fas.fa-chevron-right {
  font-size: 12px;
  position: relative;
  left: 9px;
  bottom: 1px;
}

.iphone-12 {
  background: url('../img/iphone12-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
}

.iphone-12-pro {
  background: url('../img/iphone12-pro-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 52vh;
}

.apple-fitness {
  background: url('../img/fitness-1.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 50%;
  background-color: #FBFBFD;
  height: 650px;
}

#apple-fitness-logo {
  width: 10%;
}

/* Grid 2 */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 11.5px;
  height: auto;
  margin-top: 64vh;
  padding: 11.5px;
}

.apple-watch,
.ipad-air,
.macbook-air,
.apple-one,
.airpods,
.apple-tv-plus {
  height: 577px;
  width: 100%;
}

.apple-watch {
  background: url('../img/apple-watch-1.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 20%;
  background-color: #000;
}

.ipad-air {
  background: url('../img/ipad-air-1.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 95%;
  background-color: #FBFBFD;
}

.macbook-air {
  background: url('../img/macbook-air-1.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 95%;
  background-color: #000;
}

.apple-one {
  background: url('../img/apple-one-1.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 40%;
  background-color: #FBFBFD;
}

.airpods {
  background: url('../img/airpods-1.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 40%;
  background-color: #FBFBFD;
}

.apple-tv-plus {
  background: url('../img/apple-tv-1.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 110%;
  background-color: #FBFBFD;
}

.footer {
  height: 68vh;
  background-color: #F5F5F7;
}

.footer-container {
  width: 39%;
}

.footer-top {
  font-size: 12.5px;
  color: #99999D;
  padding: 15px;
  font-weight: 400;
}

.footer-line-break {
  width: 96.9%;
  height: 0.5px;
  background-color: #CCCCCC;
}

span {
  color: #565659;
}

span:hover,
ul a li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-middle ul a li, li{
  list-style: none;
  font-size: 12.5px;
  color: #58585A;
  padding-bottom: 10px;
  cursor: pointer;
}

#footer-list-header {
  font-weight: 500;
  color: #1D1D1F;
}

#footer-text, 
.footer-middle {
  margin-top: 15px;
}

.footer-list {
  margin-left:15px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#footer-middle-tagline {
  color: #99999D;
  font-size: 12.5px;
  margin-top: 25px;
  margin-left:15px;
  margin-bottom: 15px;
}

#tagline-link {
 color: #1673D0;
}

#tagline-link:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 15px;
  font-size: 12.5px;
}

.footer-bottom-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom-top-left {
  color: #9A9A9F;
  margin-right: 440px;
}

.footer-bottom-top-right {
  display: flex;
  margin-left: 15px;
}

#text-spacer {
  margin-left: 12px;
  margin-right: 12px;
}

.footer-bottom-bottom {
  color: #5E5E61;
  margin-left: 13px;
}

#footer-links {
  display: inline;
  text-decoration: none;
}

.footer-bottom-top-right li:hover,
.footer-bottom-bottom li:hover {
  text-decoration: underline;
}

.footer-bottom-bottom ul a li,
.footer-bottom-bottom li {
  list-style: none;
  font-size: 12.5px;
  color: #58585A;
  padding-bottom: 10px;
  cursor: pointer;
  display: inline;
}

.apple-watch-description {
margin-top: 40px;
}

#apple-watch-logo {
  width: 10%;
}

#apple-watch-tagline {
  color: #fff;
  font-size: 18px;
}